.rejouer{
    background-color: black;
    color: yellow;
}

button:hover{
  background-color: grey;
}

button{
    font-size: 5em;
    height: 15vh;
    width: 15vh;
    border: 10px solid darkgreen;
    outline: none;
    background-color: burlywood;
}

.rejouer{
    background-color: black;
    color: yellow;
    width: 40vh;
    border: none;
}

.plateau{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.plateauLigne{
    display: flex;
    align-content: center;
    justify-content: center;
}

body{
    background-color: black;
}
.jeu{

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
text-align: center;
    font-size: 6em;
    color: yellow;
    margin: 5px;
}

.tourJoueur{
    color: yellow;
    font-size: 3em;
}
